
body{font-family: 'Open Sans', sans-serif;}
a {border:0; outline:none; -webkit-transition: all 200s ease-in-out; -moz-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; -ms-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out;	color:#000;}
a:hover, a:focus{text-decoration:none; color:#434C56;  outline-style: none;}


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Spartan',sans-serif;
}
h1{
font-size: 50px;
line-height: 64px;
color: #222;
}
h2{
font-size: 46px;
line-height: 54px;
color: #222;
}

h4{
font-size: 20px;
color: #222;
}

h6{
font-weight: 700;
font-size: 12px;
}

hr{
width: 1111px;
height: 1px;
top: 3240.5px;
left: 245px;
border: 1px;
}

p{
font-size: 16px;
color: #465b52;
margin: 15px 0 20px 0;
}

.section-p1{
padding: 40px 80px;
}

.section-m1{
margin: 40px 0;
}

button.normal{
font-size: 14px;
font-weight: 600;
padding: 15px 30px;
color: #000;
background-color: #fff;
border-radius: 4px;
cursor: pointer;
border: none;
outline: none;
transition: 0.2s;
}

/* Header Start */

#header{
display: flex;
align-content: center;
justify-content: space-between;
padding: 20px 80px;
background-image: url("imgs/BG (4).png");
box-shadow: 0 5px 15px rgb(0,0,0,0.06);
z-index: 999;
position: sticky;
}

#navbar{
display: flex;
float: left;
margin-right: 550px;
align-items: left;
justify-content: center;

}
#header button{
background-color: #0a0881;
color: #fff;
padding: 10px 10px 10px 10px;
border-radius: 10px;
}

#navbar li{
list-style: none;
padding: 0 20px;
margin-top: 10px;
position: relative;
align-items: last baseline;
}
#mobile{
    display: none ;
    align-items: center;
}

#close{ 
    display: none;
}

/* home page */

#hero{
display: flex;
justify-content: space-between;
align-items: center;
background-image: url("imgs/BG (4).png");
}

#hero h4{
width: 206px;
height: 16px;
left: 4px;
font-family: Open Sans;
font-size: 13px;
font-weight: 700;
line-height: 18px;
letter-spacing: 1.625px;
text-align: left;
color: #F64B4B;
flex: 1;

}

#hero > div {
flex: 1;
padding: 20px;
text-align: left;
display: flex;
flex-direction: column;
align-items: flex-start;
}

#Whyus{
    background-image: url('imgs\Group 161.png');
}
.image-container {
flex: 1;
text-align: right;


}

.image-container2 {
    flex: 1;
    text-align: center;
    margin-left: 450px;
    float: left;
}

.image {
max-width: 100%;
height: auto;
}
#hero h1{
font-family: Open Sans;
font-size: 19px;
font-weight: 400;
line-height: 32px;
letter-spacing: -0.20000000298023224px;
text-align: left;
width: 500px;
height: 96px;
top: 196px;
flex: 1;
opacity: 0.7px;
}

.text{
text-align: center;
}

#hero button{
background-color: blue ;
color: white;
border: 0;
padding: 14px 80px 14px 65px;
background-repeat: no-repeat;
cursor: pointer;
font-weight: 700;
font-size: 15px;
flex: 1;
}

#hero img{
flex: 1;
display: flex;
justify-content: flex-end;
align-items: center;
}

#hero2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero2 > div {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#hero2 img {
    max-width: 100%; 
}

#hero2 .start {
    text-align: left;
    color: goldenrod; 
    margin-top: 10px; 
}

#hero2 h6 {
    color: black; 
    margin-top: 5px; 
}


#hero3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
#hero3 > div {
    flex: 1;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-left: 150px
}        
#hero4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#F4F7FA;
    margin-top: 10px;
    
    }
    
#hero4 > div {
        flex: 0;
        padding: 10px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    } 

        
#hero4 h4{
    width: 206px;
    height: 16px;
    left: 4px;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1.625px;
    text-align: left;
    color: #F64B4B;
    flex: 1;
    }
    
#hero4 p{
    width: 589px;
height: 135px;
top: 2537px;
left: 506px;

    }
/* OUR SERVICES */

#product1{
    text-align: center;

}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    padding: 100px;
    
    
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
    margin: 15px 0;
    transition: 0.3s ease;
    position: relative;
}


#product1 .pro:hover{
    box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
}

#product1 .pro img{
    width: 117.75px;
height: 132.35px;
top: 60.33px;
left: 113.14px;

}

#product1 .pro .des{
    font-family: Open Sans;
font-size: 17px;
font-weight: 400;
line-height: 29px;
letter-spacing: -0.20000000298023224px;
text-align: center;


}
#product1 .pro .des h5{
    font-family: Open Sans;
font-size: 17px;
font-weight: 400;
line-height: 29px;
letter-spacing: -0.20000000298023224px;
text-align: center;


}


#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}



#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;

}



#newsletter1{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
background-repeat: no-repeat;
background-position: 20% 30%;
background-color: #F4F7FA;
}

#newsletter1 h4{
font-size: 22px;
font-weight: 700;
color: black;
}

#newsletter1 p{
font-size: 14px;
font-weight: 600;
color: black;
}



#newsletter1 .form{
display: flex;
width:40%;
}


#newsletter1 button{
background-color: #081c81;
color: #fff;
white-space: nowrap;
border-top-left-radius: 0;
border-bottom-left-radius: 0;

}


#newsletter{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
background-repeat: no-repeat;
background-position: 20% 30%;
background-color: #041e42;
}

#newsletter h4{
font-size: 22px;
font-weight: 700;
color: #fff;
}

#newsletter p{
font-size: 14px;
font-weight: 600;
color: #818ea0;
}



#newsletter .form{
display: flex;
width:40%;
}


#newsletter button{
background-color: #081c81;
color: #fff;
white-space: nowrap;
border-top-left-radius: 0;
border-bottom-left-radius: 0;

}


.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
     /* padding-left: 100px; */
    /* padding-right: 325px; */
   
}

.box1 {
    width: calc(40% - 50px); 
    margin-bottom: 20px; 
    padding: 20px;
    border: 0px solid #e0e0e0; 
    margin-left: 100px;
}

.box1 img {
    float: left;
    margin-right: 20px; 
}

.box1 h6 {
    margin-top: 0;
    margin-bottom: 10px;
}

.box1 p {
    margin-top: 0;
}


footer{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: #041e42;

}

footer .col{
display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom: 20px;

}

footer .logo{
margin-bottom: 30px;
}

footer h4{
font-size: 14px;
padding-bottom: 20px;
color: whitesmoke;
}

footer p{
font-size: 13px;
margin: 0 0 8px 0;
color: white;
}


footer .follow{
margin-top: 20px;
} 

footer .follow i{
color: white;
padding-right: 4px;
cursor: pointer;
}
footer .col p{
    
    font-family: Open Sans;
    padding: 6px;

}
footer .col h4{
    font-family: Open Sans;
opacity: 65%;



}





/* Mobile View */
@media screen and (max-width: 768px) {
    
   
    #header {
        padding: 10px;
    }

    .section-p1{
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0,0,0);
        padding: 80px 0 0 10px;
        transition: 0.3s;

    }

    #navbar.active{
        right: 0px;
        
    }
    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    
    #hero {
        flex-direction: column;
    }

    #hero h4, #hero h2, #hero h1, #hero button {
        width: 100%;
        text-align: center;
    }
    #hero .text{
        margin-left: 20px;
    }

    #hero img {
        margin: 15px 0;
    }

    #product1 .pro-container{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        /* flex-wrap: wrap; */
        padding: 100px;
        width:150%;
        align-content: center;
        margin-right: 180px;
        /* padding-right: 250px; */
        /* padding-left: 100px; */
    }
    
   
    #product1 .pro {
        flex-direction: column;
        /* min-width: 100%; 
        margin: 10px; 
        padding: 30px;  */
    }

    #product1 .pro img {
        width: 100px; 
        height: auto; 
    }

    #hero2 {
        flex-direction: column;
        text-align: center;
    }

    #hero2 > div {
        margin-left: 5px;
    }

    .image-container2 {
        text-align: center;
        margin-left: 0;
    }




    #hero3 .section-p1{
        width: 100%;
        min-width: unset;
    }
    #hero3 {
        flex-direction: column;
        text-align: center;
    }

    #hero3 > div {
        margin-left: 0;
        margin-bottom: 20px; 
    }



    #hero4 {
        flex-direction: column;
        text-align: center;
        margin-left: 0; 
    }

    #hero4 > div {
        align-items: center;
        margin-left: 0px; 
        text-align: center; 
    }


    #product1 .pro {
        width: 100%;
        min-width: unset;
    }

    #Whyus .container1 .box1{
    flex-direction: column;
    width: calc(100% - 50px);  
     margin-bottom: 20px; 
    padding: 20px;
    border: 0px solid #e0e0e0; 
    margin-left: 50px;
    padding-top: 10px;
    justify-content: center;
    }
    #newsletter1, #newsletter {
        text-align: center;
    }

    #newsletter1 .newstext, #newsletter .newstext {
        margin-bottom: 20px;
    }

    
    footer {
        flex-direction: column;
        text-align: center;
    }

    footer .col {
        margin-bottom: 20px;
    }
}

/*iPad Small*/
@media screen and (max-width:991px) {
    
    #header {
        padding: 20px;
    }

    #navbar {
        float: none;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    #navbar li {
        padding: 5px ;
        margin: 0;
    }

    #navbar button {
        margin-top: 10px;
    }


    #header.responsive {position: relative;}
    #header.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
 #header.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  #hero4 {
    flex-direction: column;
    text-align: center;
    margin-left: 0; 
}

#hero4 > div {
    align-items: center;
    margin-left: 0px; 
    text-align: center; 
}
#hero2 {
    flex-direction: column;
    text-align: center;
}

#hero2 > div {
    margin-left: 5px;
}
#hero3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
#hero3 > div {
    flex: 1;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
   
} 

.image-container2 {
    text-align: center;
    margin-left: 0;
}
}


/*iPad Big*/
@media screen and (max-width:1180px) {
    #header {
        padding: 20px;
    }

    #navbar {
        float: none;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    #navbar li {
        padding: 5px ;
        margin: 0;
    }

    #navbar button {
        margin-top: 10px;
    }


    #header.responsive {position: relative;}
    #header.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
 #header.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
	

  #hero4 {
    flex-direction: column;
    text-align: center;
    margin-left: 0; 
}

#hero4 > div {
    align-items: center;
    margin-left: 0px; 
    text-align: center; 
}
#hero2 {
    flex-direction: column;
    text-align: center;
}

#hero2 > div {
    margin-left: 5px;
}

.image-container2 {
    text-align: center;
    margin-left: 0;
}
#hero3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
#hero3 > div {
    flex: 1;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
   
} 
 
}

